.hero-backgraund {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    padding: 118px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(mobile-only) {
        max-width: 480px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(https://github.com/DariaOstrava/goit-markup-hw-08.5/blob/main/img/background_sm.jpg?raw=true);
    
        @include mq(retina) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
            url(https://github.com/DariaOstrava/goit-markup-hw-08.5/blob/main/img/background_sm@2x.jpg?raw=true);
        }
        }

        @include mq(tablet-only) {
            max-width: 768px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
               url(https://github.com/DariaOstrava/goit-markup-hw-08.5/blob/main/img/background_md.jpg?raw=true);
       
               @include mq(retina) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
               url(https://github.com/DariaOstrava/goit-markup-hw-08.5/blob/main/img/background_md@2x.jpg?raw=true);
           }
           }

           @include mq(desktop) {
            max-width: 1600px;
            height: 600px;
            padding: 200px 0;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
           url(https://github.com/DariaOstrava/goit-markup-hw-08.5/blob/main/img/background_lg.jpg?raw=true);
   
           @include mq(retina) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
           url(https://github.com/DariaOstrava/goit-markup-hw-08.5/blob/main/img/background_lg@2x.jpg?raw=true);
       }
       }
    
    }


.hero__caption-first {
    max-width: 360px;
    margin: 0 auto;
    font-size: 26px;
    line-height: 42px;

    @media screen  and (min-width: 479px) {
        font-size: 26px;
        line-height: 42px;
    }

    @media screen  and (min-width: 768px) and (max-width: 1199px) {
        font-size: 26px;
        line-height: 42px;
    }

    @media screen  and (min-width: 1200px) {
        max-width: 696px;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.06em;
      
    
    }
}


.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
    min-width: 200px;
    margin: 30px auto 0px auto;



    color: var(--hero-caption-color);
    background-color: var(--accent-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    transition-property: box-shadow;

    &:hover,
    &:focus  {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    }

   
